/* Global, Universal styling*/
.logo {
    width:15vw; 
    height:15vw;
    max-height: 40px;
    max-width: 40px;
}

*{
    scroll-behavior: smooth;
    align-items:center;
    text-align: center;
}


@media only screen and (min-width:575px){
    .nav-link {
        font-size: 1.25vw;
    }
    
    .dash {
        font-size: 1vw;
    }
}

@media only screen and (max-width:575px){
    .nav-link {
        font-size: 5vw;
    }

    .dash {
        font-size:0px;
    }
}

p {
    font-size: 2vw;
}

@media only screen and (min-width: 768px){
    .flex-content{
        height:fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-content > div > p {
        font-size: 2vw;
        padding: 10px;
    }

    .content-text{
        font-size: 2vw;
        margin-right: 10px;
        margin-left:  10px;
    }

    .title-text{
        font-size: 3vw;
        color: #2b5d68;
    }

    .navbar-nav-text-heading{
        font-size: 1vw;
    }

    .footer-blank {
        width: 10vw;
        height: 5vw;
    }
}

@media only screen and (max-width: 768px){
    .flex-content{
        height:fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-content > div > p {
        font-size: 4vw;
        padding: 10px;
    }
    
    .flex-content > div > h1 {
        padding-top: 20%;
    }

    .flex-content > p {
        font-size: 3vw;
        padding: 10px;
    }

    footer > div > p {
        font-size: 3vw;
    }

    .content-text{
        font-size: 4vw;
        margin-right: 10px;
        margin-left:  10px;
    }

    .title-text{
        font-size: 5vw;
        color: #2b5d68;
    }

    .navbar-nav-text-heading{
        font-size: 0vw;
    }

    .footer-blank {
        width: 0vw;
        height: 0vw;
    }
}


@media only screen and (min-width:800px){
.flex-content > img {
    width:  50%;
    height: auto;
    padding: 20px;
}
.flex-content > p {
    font-size: 1vw;
    padding: 10px;
}

footer > div > p {
    font-size: 1vw;
}
}

.content {
    width:100%;
    height: fit-content;
    text-align: center;
    opacity:1;
    background-color: #dfe9eb;
    padding-left: 10%;
    padding-right: 10%;
    scroll-behavior: smooth;
}

.content-white {
    width:100%;
    height: fit-content;
    text-align: center;
    opacity:1;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    scroll-behavior: smooth;
}

.content-white-left {
    width:100%;
    height: fit-content;
    text-align: left;
    opacity:1;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 768px){
    .footer-img {
        width: 3vw;
        height: 3vw;
    }
}

@media only screen and (max-width: 768px){
    .footer-img {
        width: 5vw;
        height: 5vw;
    }
}

.flex-footer-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.KLC-header-big-picture-reg-page {
    position: relative;
    text-align: center;
    color: black;
    height: 40vh;
    width: 100vw;
    margin-top: 7.5vh;
}

.reg-header-pic {
    height: 40vh;
    width: 100%;
    opacity:0.2;
    object-fit: cover
}

/* Home Page Unique Styling */
.KLC-header-big-picture {
    position: relative;
    text-align: center;
    color: black;
    height: 90vh;
    width: 100vw;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width:800px){
    .down-centered {
        position: absolute;
        top: 92%;
        left: 50%;
    }}

@media only screen and (max-width:800px){
    .down-centered {
        position: absolute;
        top: 95%;
        left: 50%;
    }}

.header-pic {
    height: 96.5vh;
    width: 100%;
    opacity:0.2;
    object-fit: cover
}

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.company-heading h1 {
    margin-bottom: 60px;
    padding-bottom: 50px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}
.jumbo {
    margin-top: 50px;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 55px;
    margin-bottom: 20px;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.ct-btn-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
img, figure {
    max-width: 100%;
}

/* Contact Page Unique Styling */
.contact-text {
    text-align: left;
    font-size: inherit;
}

.contact-text > li {
    text-align: left;
}

/* Programme Page Unique Styling */

.programme-flex-content > p {
    font-size: 1vw;
}

.programme-p {
    font-size: 1vw;
}

.programme-external-link {
    color: inherit;
    text-decoration: underline;
}
